.budget-app {
  &__forgot-password {
    &__content-section {
      margin: 6rem 0 0;
      height: 500px;
      border-radius: 5px;
      box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;

      .row {
        margin: 0;
        height: 100%;

        > div {
          padding: 0;
        }
      }
    }

    &__left-side {
      height: 500px;
      background: url("../../assets/images/forgot-password-page-bg.jpg")
        no-repeat;
      background-position: 50%;
      background-size: 100% 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;

      &__info-text {
        font-size: 28px;
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 1px;
        text-shadow: 2px 2px 4px red;
        position: absolute;
        right: 5rem;
        width: 42%;
        text-align: center;
        top: 10rem;
      }
    }

    &__right-side {
      padding: 2.7rem 1.75rem;
      height: 100%;
      background: rgb(0, 0, 0, 0.05);

      h3 {
        margin: 0 0 30px;
        font-size: 22px;
        font-weight: 600;
      }
    }

    &__form {
      input[type="email"],
      input[type="password"] {
        border-radius: 25px;
      }

      label {
        margin: 0 0 4px;
      }

      button {
        margin: 24px 0 0;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #ffffff;
        background: #b0c4de;
        border: 1px solid #b0c4de;
        border-radius: 15px;

        &:hover {
          color: #ffffff;
          background: #708090;
          border: 1px solid #708090;
        }
      }

      &__back-to-login {
        margin: 24px 0 0;

        a {
          font-weight: 600;
          color: #daa520;
          text-decoration: none;

          &:hover,
          &:focus {
            color: #b8860b;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .budget-app {
    &__forgot-password {
      &__left-side {
        &__info-text {
          font-size: 26px;
          right: 2rem;
          width: 75%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .budget-app {
    &__forgot-password {
      &__left-side {
        &__info-text {
          font-size: 26px;
          right: 2rem;
          width: 75%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .budget-app {
    &__forgot-password {
      &__content-section {
        height: auto;
      }

      &__left-side {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;

        &__info-text {
          font-size: 26px;
          right: 1rem;
          width: 90%;
        }
      }

      &__right-side {
        padding: 4rem 1.25rem;
      }
    }
  }
}
